# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
static/

# Storage
storage/uploads/
storage/vector_db/
storage/logs/

# Environment
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# FAISS
*.faiss
*.pkl